In [26]:
list1=["rohan","chetan","dheeraj","raj","naman","dheeraj"]
print(list1)
for x in list1:
   if x=="dheeraj":
      print("dheeraj")
      
   if x=="naman":
        print("naman")

['rohan', 'chetan', 'dheeraj', 'raj', 'naman', 'dheeraj']
dheeraj
naman
dheeraj

In [1]:
x=input()
list1=x.split()
print(list1)
list1.reverse()
print(list1)

111 222 333
['111', '222', '333']
['333', '222', '111']

In [7]:
x=input()
y=input()
list1=x.split()
list2=y.split()
print(list1)
print(list2)
if list1==list2:
   print("equal")
else :
     print("not equal")

1 2 3 4
1 2 3 4
['1', '2', '3', '4']
['1', '2', '3', '4']
equal

In [8]:
x=input()
list1=x.split()
set1=set(list1)
if len(list1)==len(set1):
   print("false")
else:
    print("true")

22 33 22 44
true

In [10]:
list1=["ram","rom","cpu","cd"]
for x in list1:
  #print(x)
  if x=="cpu":
    del list1[2]
    for x in list1: 
        print(x)

ram
rom
cd

In [24]:
list1=["ram","rom","cpu","cd"]
for x in list1:
     if x=="rom":
        continue
     print(x)

ram
cpu
cd

In [1]:
#print the table of the no entered
a=int(input("n="))
list1=[1,2,3,4,5,6,7,8,9,10]
for x in list1:
    n=a*x
    print(a,"x",x,"=",n)

n=3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [16]:
#add the entered elements in the list
list1=[]
a=int(input("enter the no of elements"))


for i in range(a):
    x=int(input("enter the elements "))
    list1.append(x)
    print(x)
print(list1)

enter the no of elements3
enter the elements 1
1
enter the elements 2
2
enter the elements 3
3
[1, 2, 3]

In [17]:
#hello hi
x=int(input("enter the no of persons: "))
print("enter the names of the persons:")
y=input()
arr=y.split()
print("the user has entered: ", arr)
for i in range(x):
 print("Hello", arr[i],", " "How are you?")
 i=i+1

enter the no of persons: 3
enter the names of the persons:
rohan chetan naman
the user has entered:  ['rohan', 'chetan', 'naman']
Hello rohan , How are you?
Hello chetan , How are you?
Hello naman , How are you?

In [29]:
#marks grading
m=int(input("enter the marks scored"))
for i in range(m):
    if m>=40 and m<50:
     print("The grade obtained is E")
     break
    elif m>=50 and m<60:
     print("The grade obtained is D")
     break
    elif m>=60 and m<70:
     print("The grade obtained is c")
     break
    elif m>=70 and m<80:
     print("The grade obtained is B")
     break
    elif m>=80 and m<90:
         print("The grade obtained is A")
         break
    elif m>=90 and m<100:
         print("The grade obtained is S")
         break
    else:
         print("The grade obatained is F")

enter the marks scored40
The grade obtained is E

In [69]:
#7)seperate even odd


list1=[]
list2=[]
list3=[]
a=int(input("enter the number of elements:"))
for x in range(1,a+1):
    y=int(input("enter the numbers: "))
    list1.append(y)
    if y%2==0:
        list2.append(y)
       
    else:
        list3.append(y)
        
print("even list: ",list2)
print("odd list: ",list3)

enter the number of elements:5
enter the numbers: 12
enter the numbers: 13
enter the numbers: 14
enter the numbers: 69
enter the numbers: 96
even list:  [12, 14, 96]
odd list:  [13, 69]

In [66]:
#1)1st 10 natural nos
for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [78]:
#4)1st 10 odd nos
list1=[]
for x in range(1,20,2):
  
    list1.append(x)

print(list1)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [79]:
#5)1st 10 even nos in rev order
list1=[]
for x in range(0,20,2):
    list1.append(x)
list1.reverse()
print(list1)

[18, 16, 14, 12, 10, 8, 6, 4, 2, 0]