In [1]:
list1=["rohan","chetan","dheeraj"]
print(list1)

['rohan', 'chetan', 'dheeraj']

In [17]:
list1=["rohan","chetan","dheeraj"]
print(list1[-1])

dheeraj

In [4]:
list3=[1,2,3,4,5,6,7]
print(list3[3:5])

[4, 5]

In [16]:
list4=[]
print("before append",list4)
x=(input(""))
list4.append(x)
print("after append",list4)

before append []
2 3 4
after append ['2 3 4']

In [19]:
list5=[1,2,3,4]
x=input("")
list5.insert(2,x)
print(list5)

6
[1, 2, '6', 3, 4]

In [36]:
list6=['phy','chem',555,2000];
print("value available at index 2: ")
print(list6[2])
list6[2]=300
print("new value : ")
print(list6[2])

value available at index 2:
555
new value :
300

In [64]:
x=input()
list=x.split()
print("list",list)
del list[3]
del list[2]
print(list)
list.append('4')
print(list)
list.insert(2,'3')
print(list)

1 2 5 6
list ['1', '2', '5', '6']
['1', '2']
['1', '2', '4']
['1', '2', '3', '4']

In [70]:
emp=["john", 102, "usa"]
dep1=["cs",10]
dep2=["it",11]
hod_cs=[10,"mr.chetan"]
hod_it=[11,"mr.rohan"]

print("printing employing data...")
print( "name:",emp[0], "id:",emp[1], "country :",emp[2])
print("printing departments...")
print(" department 1:")
print("name:",dep1[0], "id:",dep1[1])
print(" department 2:")
print("name:",dep2[0], "id:",dep2[1])
print("HOD details..")
print("CS HOD:",hod_cs[1],"ID:",hod_cs[0])
print("IT HOD:",hod_it[1],"ID:",hod_it[0])
print(type(emp),type(dep1),type(dep2),type(hod_cs),type(hod_it))

printing employing data...
name: john id: 102 country : usa
printing departments...
 department 1:
name: cs id: 10
 department 2:
name: it id: 11
HOD details..
CS HOD: mr.chetan ID: 10
IT HOD: mr.rohan ID: 11
<class 'list'> <class 'list'> <class 'list'> <class 'list'> <class 'list'>

In [85]:
t1=("apple","banana","orange",2)

print(t1)
print(t1[1])
print(type(t1))

('apple', 'banana', 'orange', 2)
banana
<class 'tuple'>

In [87]:
tup=('hi','hello','hsm')
#y=list(tup)
print(tup)

('hi', 'hello', 'hsm')